{% extends 'app_general/components/base.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}
<section class="checkoutsec">
    <div class="checkoutdiv">
        <p>ชำระ เงินโอน</p>
        <p>invoice number: {{ invoicenumber }}</p>
        <p>ค่าธรรมเนียมหลักสูตร: {{ price|floatformat:'g' }}</p>
        <p>ส่วนลด: {{ discount|floatformat:'g' }}</p>
        <p>vat 7%: {{ vat|floatformat:'g' }}</p>
        {% if withholding != 0 %}
            {% if gettaxwithholding == 'WHT' %}
                <p>หักภาษี ณ ที่จ่าย 3%: {{ withholding|floatformat:'g' }}</p>
            {% elif gettaxwithholding == 'eWHT' %}
                <p>หักภาษี ณ ที่จ่าย 2%: {{ withholding|floatformat:'g' }}</p>
            {% endif %}
        {% endif %}
        <p>รวม: {{ allprice|floatformat:'g' }}</p>
    
        <form action="{% url 'checkouttransfer' data %}" method="post">
            {% csrf_token %}
            <button class="btn btn-primary mb-3 submitbtn" type="submit">ชำระ</button>
        </form>
    </div>
</section>
{% endblock %}