{% extends 'app_general/components/base.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}
<section>
    <p>ชำระ เงินโอน</p>
    <p>regisid: {{ regidis }}</p>
    <p>price: {{ price|floatformat:'g' }}</p>
    <p>ส่วนลด: {{ discount|floatformat:'g' }}</p>
    <p>vat 7%: {{ vat|floatformat:'g' }}</p>
    <p>allprice: {{ allprice|floatformat:'g' }}</p>

    <form action="{% url 'checkouttransfer' data %}" method="post">
        {% csrf_token %}
        <button>ชำระ</button>
    </form>
</section>
{% endblock %}