{% extends 'app_general/components/base.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}
<div class="clasroomhead">
    <h4>ห้องเรียน "{{ thiscourse.name }}" ที่เปิดรับสมัคร</h4>
</div>
<section class="classroomsec">
    <div class="classroomdiv">
        {% for class in allclass_active %}
            <div class="classroomitem">
                <a href="{% url 'registerform' class.id %}">
                    <div>
                        <div class="classroomname">
                            {{ class.course.name }} | {{ class.get_class_type_display }}
                        </div>
                        <br>
                        ( {{ class.generation }} : {{ class.date_start }} - {{ class.date_end }} )
                        <br>
                        {% if class.get_status_price == 'earlybird' %}

                            <span style="color: red;">ราคา {{ class.get_now_price|floatformat:'g' }} ฿</span> <del style="color:  var(--grey);">{{ class.price_fullprice|floatformat:'g' }} ฿</del>

                        {% elif class.get_status_price == 'promotion' %} 

                            <span style="color: red;">ราคา {{ class.get_now_price|floatformat:'g' }} ฿</span> <del style="color: var(--grey);">{{ class.price_fullprice|floatformat:'g' }} ฿</del>

                        {% elif class.get_status_price == 'fullprice' %} 

                            <span>ราคา {{ class.get_now_price|floatformat:'g' }} ฿</span>

                        {% endif %}

                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}