{% extends 'app_general/components/base.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}
<section class="qrtransfersec">
    <div class="qrtransferdiv">
        <img class="qr30img" src="{% static 'app_general/assets/pic/qr30.png' %}">
        <img class="qrimg" src="{{ qrurl }}">
        <p>ชำระ</p>
        <p>{{ amount }}</p>
    </div>
    <div class="qrsuccessdiv">
        <p>ชำระเงินสำเร็จ</p>
        <a href="{% url 'home' %}">
            <button class="btn btn-primary mb-3 submitbtn">
                กลับสู่หน้าหลัก
            </button>
        </a>
    </div>
</section>

<script>
    let successdiv = document.querySelector('.qrsuccessdiv')
    let qrtransferdiv = document.querySelector('.qrtransferdiv')
    successdiv.style.display = "none"
    setInterval(() => {

        // TEST
        fetch('https://pgwuat.mycmsk.com/api/v1/scb/payment/confirmation/' + '{{request_id}}', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJDTVNLLUZPUk0iLCJpYXQiOjE2NzYzNjcwMjEsImV4cCI6MTk5MTcyNzAyMX0.8o5m5zFYch2cKFCkbw0QJ3XLBgaJ-bkhjP17E-8wzVo',
            },
        })
        .then((response) => response.json())
        .then((data) => {
            console.log('Success:', data);
            if (data.error) {
                null
            } else {
                successdiv.style.display = "block"
                qrtransferdiv.style.display = "none"
            }
        })
        .catch((error) => {
            console.error('Error:', error);
        });

        // PRODUCTION
        // fetch('https://pgw.mycmsk.com/api/v1/scb/payment/confirmation/' + '{{request_id}}', {
        //     method: 'GET',
        //     headers: {
        //         'Content-Type': 'application/json',
        //         'Authorization': 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJDTVNLLUZPUk0iLCJpYXQiOjE2NzYzNjcwMjEsImV4cCI6MTk5MTcyNzAyMX0.8o5m5zFYch2cKFCkbw0QJ3XLBgaJ-bkhjP17E-8wzVo',
        //     },
        // })
        // .then((response) => response.json())
        // .then((data) => {
        //     console.log('Success:', data);
        //     if (data.error) {
        //         null
        //     } else {
        //         successdiv.style.display = "block"
        //         qrtransferdiv.style.display = "none"
        //     }
        // })
        // .catch((error) => {
        //     console.error('Error:', error);
        // });

    }, 2000)
</script>
{% endblock %}