{% load static %}
<div id="navbar">
    <a href="{% url 'home' %}">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#">ลงทะเบียน</a>
    {% if request.user.is_authenticated %}
        <a><i class="bi bi-person-circle"></i> {{ user.username }}</a>
        <a href="{% url 'signout' %}">
            <i class="bi bi-box-arrow-right"></i>
        </a>
    {% else %}
        <a href="{% url 'signin' %}">
            ลงชื่อเข้าใช้
        </a>
    {% endif %}
</div>

<script>
    // When the user scrolls down 20px from the top of the document, slide down the navbar
    // When the user scrolls to the top of the page, slide up the navbar (50px out of the top view)
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("navbar").style.top = "0";
        } else {
            document.getElementById("navbar").style.top = "-100px";
        }
    }
</script>